*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: white;
}

header nav {

    margin: 10px;
    padding: 20px;

}

header nav a {
    text-decoration: none;
    color:darkviolet;

}
header nav div {
    text-align: right;
    margin-right: 40px;

}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 100px;
    padding: 20px;
}

.intro h1 {
    font-weight: bolder;
}

.intro p {
    padding: 30px;
}

.start-btn {
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: 300;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    background: darkviolet;
    cursor: pointer;
}