*{
    
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    
}

header nav {

    margin: 10px;
    padding: 20px;

}

header nav a {
    text-decoration: none;
    color:darkviolet;

}

.timer {
    text-align: right;
    margin-right: 40px;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.intro {
    margin: 100px;
    padding: 20px;
}

.intro h1 {
    font-weight: bolder;
}

.intro p {
    padding: 30px;
}

.start-btn, .next-btn, .ending-quiz {
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background: darkviolet;
    cursor: pointer;
}

.secondaryPages {
    max-width: 80%;
    width: 800px;
    padding: 10px;
    margin: 20px;
}

.hide {
    display: none;
}



.answer-buttons {
    display: grid;
    gap:10px;
    margin: 20px 0;
        
}